* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
  }
  
  ul li {
    list-style: none
  }
  
  a {
    text-decoration: none
  }
  
  .parent {
    width: 100%;
    height: 0%;
    overflow: hidden;
    margin-left: -150px;
  
  }
  
  .parent .left {
    background-color: #05386b;
    float: left;
    height: 100vh;
    width: 870px;
    //margin-left: 100px
  }
  
  /************/

  .close {
    //margin-left: 1300px;
    //margin-top: 100px
  }
  
  .parent .right {
    float: left;
    width: calc(0% - 300px);
    height: 100%;
    padding: 100px 0px 0px 0px;
    text-align: center;
  }
  
  .parent .right .container {
    width: 50%;
    max-width: 100px;
    margin: 0 auto;
    margin-left: -300px;
    margin-top: 110px

  }
  
  .parent .right ul li h3 {
    color: #3B5998;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: normal
  }
  
  .parent .right .first li:nth-of-type(2),
  .parent .right .first li:nth-of-type(3){
    display: inline-block;
    background-color: #f7f2f2;
    padding: 8px 5px;
    border-radius: 50px;
    margin: 40px 0;
    width: calc(30% / 2 - 5px)
  }
  
  .parent .right .first li:nth-of-type(2) {
    margin-right: 5px
  }
  
  .parent .right .first li a {
    color: #666;
    font-size: 11px
  }
  
  .parent .right .first li:nth-of-type(2) i,
  .parent .right .first li:nth-of-type(3) i{
    font-size: 19px;
    padding-right: 0px;
    position: relative;
    top: 5px
  }
  
  .parent .right .first li:nth-of-type(2) i {
    color: #3B5998
  }
  
  
  .parent .right .first li:nth-of-type(3)  i {
    color: #db3236;
  }
  
  .parent .right .first li:last-of-type {
    color: #3B5998 ;
    margin-top: -20px;
  }
  
  .parent .right form .form input {
    display: block;
    padding: 14px;
    width: 30%;
    text-indent: 5px;
    outline: 0;
    border: none;
    margin: 10px auto;
    background-color: #f7f2f2;
    border-radius: 30px
  }
  
  .parent .right form div {
    overflow: hidden
  }
  
  .parent .right form div .forget {
    font-size: 12px;
    float: right;
    margin-right: 715px;
    margin-top: 12px
  }
  
  .parent .right ul:last-of-type {
    margin-top: 30px;
    overflow: hidden
  }
  
  .parent .right ul:last-of-type li {
    display: inline-block
  }
  
  .parent .right ul button {
    margin-left: 460px;
    padding: 14px 38px;
    outline: none;
    border: none;
    background-color:#5cdb95;
    color: #FDE8E8;
    text-transform: uppercase;
    border-radius: 50px;
    font-size: 14px;
    cursor: pointer;
    transition: all .5s ease-in-out
  }
  
  .parent .right ul button:hover {
    background-image: linear-gradient(to left, #eb3449, #ee3f47, #f04846, #f25144, #f45a43);
  }
  
  .parent .right ul:last-of-type li:first-of-type {
    float: left;
  }
  
  .parent .right ul:last-of-type li:last-of-type {
    font-size: 12px;
    float: right;
    margin-top: 19px;
  }
  
  .parent .right ul:last-of-type li:last-of-type p a {
    color: #f04946;
    margin-right:448px;
    
  }
  
  .parent .right ul:last-of-type li:last-of-type span{
    color: #555;
    font-size: 12px;
    margin-right: 5px
  }
  
  
  @media(max-width: 800px) {
    .parent .right .first li:nth-of-type(2),
    .parent .right .first li:nth-of-type(3){
    display: block;
    background-color: #f4efef;
    padding: 12px 5px;
    border-radius: 2px;
    margin: 0;
    width: 100%
  }
    .parent .right .first li:nth-of-type(2) {
      margin: 40px 0 10px 0;
    }
    
    .parent .right .first li:nth-of-type(3) {
      margin-bottom: 40px
    }
    
    .parent .left {
      height: 575px
    }
    
    .parent .right {
      padding: 60px 20px 20px 20px 
    }
    
    .parent .right ul:last-of-type li:first-of-type,
    .parent .right ul:last-of-type li:last-of-type {
      float: none;
      display: block
    }
    
  }
  
  @media(max-width: 640px) {
    
    .parent .left,
    .parent .right {
      width: calc(100% / 2)
    }
  }
  
  @media(max-width: 510px) {
    .parent .left,
    .parent .right {
      float: none;
      width: 100%;
    }
    
    .parent .right {
      padding: 60px 40px 30px 40px 
    }
    
    .parent .left {
      height: 100%
    }
  }